 @import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100;1,100&family=Montserrat:wght@200;300&family=Nunito+Sans:opsz,wght@6..12,300;6..12,400&family=Oswald:wght@300;700&family=Roboto:wght@100&display=swap');

 @import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100;1,100&family=Noto+Sans:wght@300&display=swap');

 @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');


body {
    padding: 0 2%;
    margin: 0;
    font-family: 'Noto Sans', sans-serif;
 }
 nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    position: sticky;
    top: 0;
 }

 nav .profile {
    display: flex;
    align-items: center;
 }

 nav .profile img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
 }

 nav .profile h1 {
    margin-left: 10px;
    font-size: 15px;
 }

 nav ul {
    display: flex;
    list-style-type: none;
 }

 nav ul a {
    text-decoration: none;
 }

 nav ul li {
    margin-left: 20px;
    cursor: pointer;
    border-bottom: 1px solid #fff;
 }

 nav ul li:hover {
    border-bottom-color: #000;
 }

 .page-content {
    margin: 4%;
 }

 .page-content header {
    margin-top: 5%;
    max-width: 80%;
 }

 .page-content header h1 {
    margin: 0;
    text-transform: uppercase;
    font-family: 'Noto Sans', sans-serif;
    font-size: 6vw;
 }

 .page-content header p {
    line-height: 30px;
    color: #818181;
 }

 .page-content header button {
    background-color: inherit;
    border: none;
    outline: none;
    padding: 0;
    font-size: 15px;
    font-weight: bold;
    padding-bottom: 5px;
    border-bottom: 1px solid #cccc;
    cursor: pointer;
 }

   .page-content header button a {
      text-decoration: none;
      border: none;

   }


 .page-content header button:hover {
    color: #cccc;
    border-bottom-color: #000;
 }

 .page-content .presentation-image {
    margin-top: 5%;
 }

 .page-content .presentation-image img {
    max-width: 100%;
    height: auto;
    transition: filter 0.5s;
 }
 .page-content .projects-section {
    margin-top: 6%;
 }
 .page-content .projects-section h1 {
    font-family: 'Noto Sans', sans-serif;
    text-transform: uppercase;
    font-size: 3vw;
 }

 .page-content .projects-section .projects {
    display: flex;
    flex-wrap: wrap;
 }

 .page-content .projects-section .projects .project {
    margin-right: 20px;
    max-width: 195px;
 }

 .page-content .projects-section .projects .project h4 {
    margin: 0;
 }

 .page-content .projects-section .projects .project .description {
    font-size: 10px;
 }

 .page-content .projects-section .projects .project .dates {
    font-size: 13px;
    color: rgb(145, 145, 145);
 }

 .page-content .presentation-image img:hover {
    filter: brightness(50%);
 }

 footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: #000;
    color: white;
    padding: 10px;
 }

 footer .colonne p {
    font-size: 12px;
    color: #cccc;
    cursor: pointer;
 }

 footer .colonne p:hover {
    color: #fff;
 }

 @media screen and (max-width 700px) {
    nav {
        justify-content: center;
    }
    nav ul {
        display: none;
    }

    .page-content header {
        margin-top: 10%;
        max-width: 100%;
    }

    .page-content .projects-section {
        margin-top: 15%;
    }

    .page-content .projects-section h1 {
        font-size: 1.5em;
    }

    .page-content .projects-section .projects .project {
        margin-right: 0;
        margin-bottom: 20px;
        max-width: 100%;
    }

    footer {
        justify-content: flex-start;
    }
    footer .colonne {
        max-width: 80%;
    }

}






*{
   padding: 0;
   margin: 0;
   box-sizing: border-box;
   font-family: 'Poppins', sans-serif;
}

.contact-form {
   position: relative;
   min-height: 100vh;
   z-index: 0;
   background: #69275c;
   padding: 30px;
   justify-content: center;
   display: grid;
   grid-template-rows: 1fr auto 1fr;
   align-items: center;
}

.container {
   max-width: 700px;
   margin-top: 0 auto;
}

.contact-form h1 {
   text-align: center;
   font-size: 2.5rem;
   font-weight: 400;
   color: #fff;
   font-family: 'poppins';
}

.contact-form h2 {
   line-height: 40px;
   margin-bottom: 5px;
   font-size: 30px;
   font-weight: 500;
   color: #69275c;
   text-align: center;
}

.contact-form .main {
   position: relative;
   display: flex;
   margin: 30px 0;
}

.content {
   flex-basis: 50%;
   padding: 3em 3em;
   background: #fff;
   box-shadow: 2px 9px 49px --17px rgba(0, 0, 0, 0.1);
   border-top-left-radius: 8px;
   border-bottom-left-radius: 8px;
   
}

.form-img {
  flex-direction: column;
  flex-basis: 50%; 
  background: #f0f4f8;
  background-size: cover;
  padding: 40px;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  align-items: center;
  display: grid;
   
}

.form-img img {
   max-width: 100%;
}

.btn, 
button,
input {
   border-radius: 35px;
} 

.btn:hover, 
button:hover {
   color: #69275c;
   transition: 0.5s ease;
}

.contact-form form {
   margin: 30px 0;
}

.contact-form input,
textarea {
   outline: none;
   margin-bottom: 15px;
   font-stretch: 16px;
   color: #999;
   padding: 14px 20px;
   width: 100%;
   display: inline-block;
   box-sizing: border-box;
   border: none;
   background: #fcfcfc;
   transition: 0.3s ease;

}

.contact-form input:focus {
   background: transparent;
   border: 1px solid;

}

.contact-form button {
   font-size: 18px;
   color: #fff;
   width: 100%;
   background: #69275c;
   font-weight: 600;
   transition: 0.3s ease;
   padding: 14px 15px;
   cursor: pointer;
}

@media (max-width:136px) {
   .contact-form .main{
       flex-direction: column;
   }
   .contact-form form {
       margin: 30px;
       margin-bottom: 10px;
   }
   .form-img {
       border-radius: 0;
       border-bottom-left-radius: 8px;
       border-bottom-right-radius: 8px;
       order: 2;

   }
   .content {
       order: 1;
       border-top-left-radius: 8px;
       border-top-right-radius: 8px;
   }
}
 